QCheckBox {
    color: @primary_text_color;
}

QCheckBox::indicator {
    border: 2px solid @secondary_text_color;
	width: 15px;
	height: 15px;
	border-radius: 2px;
    background: none;
}
QCheckBox::indicator:hover {
    border: 2px solid @primary_text_color;
}
QCheckBox::indicator:checked {
    background: 2px solid @primary_color;
	border: 2px solid @primary_color;
	border-image: url(icons/checkmark_white.png) 0 0 0 0 stretch stretch;;
}